:root{
    --blue:#3498db;
    --red:#e74c3c;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
    --border:2px solid var(--black);
 }
 
 *{
    font-family: "Times New Roman", sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
 }
 
 body{
    background-color: var(--light-bg);
 }
 .container {
   max-width: 80%;
   margin: auto;
 }
 .flex {
   display: flex;
   justify-content: space-between;
 }
 ul {
   list-style: none;
 }
 a {
   text-decoration: none;
   color: black;
 }

 header {
   padding: 20px 0;
   background-color: #333;
   
 }
 header ul {
   display: inline-block;
 }
 header ul li {
   display: inline-block;
   margin-left: 30px;
 }
 header ul li a {
   font-weight: 500;
   transition: 0.5s;
   color: #eee;
 }
 header ul li a:hover {
   color:rgb(12, 152, 239);
   font-weight: 500;
 }
 .nav-links {
   position: relative;
 }
 .nav-items-icon {
   position: absolute;
   margin: 0;
   right: 30px;
   transform: translateY(-50%);
   padding: 5px 10px;
 }
 .text {
   color: #eee;
 }

 @media screen and (max-width: 768px) {
   .nav .nav-links {
      display: flex;
      flex-direction: column;
   }

   .nav-items-icon {
      position:relative;
      margin: 0;
      padding: 5px 10px;
      transform: translateY(0%);
    }
   
 } 
   
 

 
 .message{
    position: sticky;
    top:0; left:0; right:0;
    padding:15px 10px;
    background-color: var(--white);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    color:var(--black);
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
 }
 
 .btn,
 .delete-btn,
 .option-btn{
    display: inline-block;
    padding:10px 30px;
    cursor: pointer;
    font-size: 18px;
    color:var(--white);
    border-radius: 0px;
    text-transform: capitalize;
 }
 
 .btn:hover,
 .delete-btn:hover,
 .option-btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    background-color: var(--blue);
    margin-top: 10px;
 }
 
 .delete-btn{
    background-color: var(--red);
 }
 
 .option-btn{
    background-color: var(--orange);
 }
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 70px;
 }
 
 .form-container form{
    width: 500px;
    border:var(--border);
    padding:20px;
    text-align: center;
    background-color: var(--white);
 }
 
 .form-container form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:var(--black);
 }
 
 .form-container form .box{
    width: 100%;
    border:var(--border);
    padding:12px 14px;
    font-size: 18px;
    margin:10px 0;
 }
 
 .form-container form p{
    margin-top: 20px;
    font-size: 20px;
    color:var(--black);
 }
 
 .form-container form p a{
    color:var(--red);
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }
 
 .container{
    padding:0 20px;
    margin:0 auto;
    max-width: 1200px;
    padding-bottom: 70px;
 }

 .container .products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
 }
 
 .container .products .box-container .box{
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    position: relative;
    padding:20px;
    background-color: var(--white);
    width: 350px;
 }
 
 .container .products .box-container .box img{
    height: 250px;
 }
 
 .container .products .box-container .box .name{
    font-size: 20px;
    color:var(--black);
    padding:5px 0;
 }
 
 .container .products .box-container .box .price{
    position: absolute;
    top:10px; left:10px;
    padding:5px 10px;
    background-color: var(--orange);
    color:var(--white);
    font-size: 25px;
 }
 
 .container .products .box-container .box input[type="number"]{
    margin:10px 0;
    width: 100%;
    border:var(--border);
    font-size: 20px;
    color:var(--black);
    padding:12px 14px
 }
 
 .container .shopping-cart{
    padding:20px 0;
 }
 
 .container .shopping-cart table{
    width: 100%;
    text-align: center;
    border:var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
 }
 
 .container .shopping-cart table thead{
    background-color: var(--black);
 }
 
 .container .shopping-cart table thead th{
    padding:10px;
    color:var(--white);
    text-transform: capitalize;
    font-size: 20px;
 }
 
 .container .shopping-cart table .table-bottom{
    background-color: var(--light-bg);
 }
 
 .container .shopping-cart table tr td{
    padding:10px;
    font-size: 20px;
    color:var(--black);
 }
 
 .container .shopping-cart table tr td:nth-child(1){
    padding:0;
 }
 
 .container .shopping-cart table tr td input[type="number"]{
    width: 80px;
    border:var(--border);
    padding:12px 14px;
    font-size: 20px;
    color:var(--black);
 }
 .shopping-cart  {
    margin-top: 10px;
    text-align: center;
    color: white;
 }
 
 .container .shopping-cart .cart-btn{
    margin-top: 10px;
    text-align: center;
    color: white;
 }

 
 .container .shopping-cart .disabled{
    pointer-events: none;
    background-color: var(--orange);
    opacity: .5;
    user-select: none;
 }
 
 
 @media (max-width:1200px){
    .container .shopping-cart{
       overflow-x: scroll;
    }
 
    .container .shopping-cart table{
       width: 1200px;
    }
 }


 
 
 @media (max-width:450px){
    .container .heading{
       font-size: 30px;
    }
    .container .products .box-container .box img{
       height: 200px;
    }
 }

 .checkout-form form{
   padding:2rem;
   border-radius: .5rem;
   background-color: var(--bg-color);
}

.checkout-form form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.checkout-form form .flex .inputBox{
   flex:1 1 40rem;
}

.checkout-form form .flex .inputBox span{
   font-size: 2rem;
   color:var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
   width: 100%;
   background-color: var(--white);
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   text-transform: none;
   border:var(--border);
}

.display-order{
   max-width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   text-align: center;
   padding:1.5rem;
   margin:0 auto;
   margin-bottom: 2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
}

.display-order span{
   display: inline-block;
   border-radius: .5rem;
   background-color: var(--bg-color);
   padding:.5rem 1.5rem;
   font-size: 2rem;
   color:var(--black);
   margin:.5rem;
}

.display-order span.grand-total{
   width: 100%;
   background-color: var(--red);
   color:var(--white);
   padding:1rem;
   margin-top: 1rem;
}
.order-message-container{
   position: fixed;
   top:0; left:0;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: var(--dark-bg);
   width: 100%;
}

.order-message-container::-webkit-scrollbar{
   width: 1rem;
}

.order-message-container::-webkit-scrollbar-track{
   background-color: var(--dark-bg);
}

.order-message-container::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

.order-message-container .message-container{
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
}

.order-message-container .message-container h3{
   font-size: 2.5rem;
   color:var(--black);
}

.order-message-container .message-container .order-detail{
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding:1rem;
   margin:1rem 0;
}

.order-message-container .message-container .order-detail span{
   background-color: var(--white);
   border-radius: .5rem;
   color:var(--black);
   font-size: 2rem;
   display: inline-block;
   padding:1rem 1.5rem;
   margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
   display: block;
   background: var(--red);
   color:var(--white);
}

.order-message-container .message-container .customer-details{
   margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.order-message-container .message-container .customer-details p span{
   color:var(--blue);
   padding:0 .5rem;
   text-transform: none;
}




  